* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	vertical-align: middle;
    list-style-type: none;
}

body {
	background-color: #15c188;
	overflow: scroll;
	margin: 0px;
}
h1,h2,h3,h4 {
	margin-top: 0px;
}

.intro {
  background: url(..//img/computer.jpg) no-repeat center center fixed; 
  min-height: 100vh;
  min-width: 100%;
  z-index: 5;
}

.shade {
	background-color: rgba(0,0,0,0.6);
	min-height: 100vh;
}

.scroll {
	width: 15%;
	text-align: center;
	margin: 0% 5.5% 0% 5.5%;
}

.nav-head {
	background-color: #15c188;
}

.nav {
	display: inline-block;
	color: rgba(255,235,205,1);
}

.name {
	color: #a8e6cf;
	font-size: 80px;
	margin-bottom: 0px;
	margin-top: 0px;
}
#head-shot {
	height: 200px;
	width: 150px;
	border: 1px solid gray;
	border-radius: 15px;
}

.top-header {
	font-size: 40px;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.basic-info {
	margin-left: 5%;
}

.raw-head {
	border: none;
	margin: 15px;
}

.contact {
	color: #a8e6cf;
	font-size: 20px;
	line-height: 25px;
	margin: auto;
	margin-top: 0px;
	padding: 0px;
}

#contact {
	display: none;
}

.nav-img {
	height: 100px;
	width: 100px;
	margin: 3%;
}

.example-img {
	height: 250px;
	width: 350px;
	margin: 15px;
}

.description {
	margin: auto 5% 5% 5%;
}

.header {
	font-size: 25px;
	min-width: 100%;
	background-color: rgba(0,0,0,.7);
}

.light-back {
	background-color: #15c188;
	text-align: center;
	min-height: 650px;
	display: none;
}

.blog-img {
	height: 75px;
	width: 75px;
	border-radius: 100%;
	margin-left: 30%;
}

#interests {
	height: 1000px;
}

.inline {
	display: inline-block;
}

.inline-head {
	margin-bottom: 15%;
}

.work-ul {
	font-size: 25px;
	margin-bottom: 4%;
}

.work-li {
	text-align: left;
}

.work-img {
	float: right;
	height: 120px;
	width: 120px;
	margin-right: 3%;
}

.edu-ul {
	text-align: center;
	font-size: 25px;
	margin-bottom: 6%;
}

#workman {
	height: 50px;
	width: 175px;
}

#gpa {
	width: 45%;
}

.date {
	font-style: italic;
	font-size: 20px;
	margin-left: 20px;
}

.employer {
	font-size: 30px;
}

.box {
	width: 100%;
	min-height: 300px;
	margin-top: 9%;
}

.int-head {
	margin-top: 5%;
}

.search {
	position: fixed;
	z-index: 6;
}

#search-icon {
	margin: 47% auto auto 85%;
}

.search-class {
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
}

#search-div {
	margin: 55% auto 5% auto;
	display: none;
	width: 100%;
}

.search-img {
	height: 75px;
	width: 75px;
}



/* ---------------Slider --------------------*/
#container {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;  
}

.carousel {
	height: 250px;
	width: 350px;
	font-size: 15px;
	border: 5px solid black;
	text-align: center;
	margin-left: 32%;
	background-color: #ffd7a5;
}

.slick-dotted.slick-slider {
	margin-bottom: 0px;
}

/* ------------- Bootstrap ------------*/

#accordion {
	margin: 20% 15% auto 15%;
}

#ud-head {
	text-align: left;
	margin-left: 2%;
}

#pub-head {
	text-align: right;
	margin-right: 2%;
}

.panel-group, .panel-heading, div.panel.panel-default,
	.panel-group .panel+.panel {
	margin-bottom: 0px;
	margin-top: 0px;
	background-color: #15c188;
}




