* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	vertical-align: middle;
    list-style-type: none;
}

body {
	background-color: rgba(0,0,0,0);
	overflow: scroll;
	margin: 0px;
}
h1,h2,h3,h4 {
	margin-top: 0px;
}

.intro {
  background: url(..//img/computer.jpg) no-repeat center center fixed; 
  min-height: 650px;
  min-width: 100%;
}

.shade {
	background-color: rgba(0,0,0,0.6);
}

.scroll {
	width: 15%;
	text-align: center;
	margin: 0% 5.5% 0% 5.5%;
}

.nav {
	display: inline-block;
	color: rgba(255,235,205,1);
}

.name {
	color: #a8e6cf;
	font-size: 80px;
	margin-bottom: 0px;
	margin-top: 0px;
}
#head-shot {
	height: 200px;
	width: 150px;
	border: 1px solid gray;
	border-radius: 15px;
}

.top-header {
	font-size: 40px;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	color: white;
}
.contact-div {
	margin-left: 5%;
}

.contact {
	color: #a8e6cf;
	font-size: 20px;
	line-height: 25px;
	margin: auto;
	margin-top: 0px;
	padding: 0px;
}

.nav-img {
	height: 100px;
	width: 100px;
	margin: 3%;
}


.header {
	font-size: 20px;
	min-width: 100%;
	background-color: rgba(0,0,0,.7);
}

.light-back {
	background-color: #15c188;
	text-align: center;
}

.blog-img {
	height: 75px;
	width: 75px;
	border-radius: 100%;
	margin-left: 30%;
}

.inline {
	display: inline-block;
}

.inline-head {
	margin-bottom: 15%;
}

.topline {
	list-style-type: none;
	margin-left: 45px;
}
.contactinfo {
	margin: 0px;
	padding: 0px;
	visibility: hidden;
}
.contactinfoul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-left: 150px;
}



.namelist {
	display: inline-block;
}

#nametext {
	margin-right: 100px;
	padding-left: 150px;
}


.social {
	margin-top: 90px;
	border: 3px solid black;
	border-radius: 15px;
	margin-right: 200px;
	margin-left: 25px;
	padding: 15px;
}



#instagram {
	border-radius: 15px;
}


#work2 {
	background: rgba(0,0,0,.7);
	min-height: 700px;
}

#publicist {
	color: red;
}

#Bio {
	color: white;
	background: rgba(0,0,0,.7);
}



.experience {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 75px;
}
.hobbies {
	background-color: rgba(150,150,150,.9);
	color: maroon;
	font-size: 75px;
	text-align: center;
	margin-right: 110px;
	min-width: 100%;
	font-family: 'Amatic SC', cursive;
}


.job1 {
	margin-left: 15px;
	padding: 0px;
}

.jobs {
	display: inline-block;
}
.job1 {
	margin-left: 150px;
}
.job2 {
	margin-left: 80px;
}
.job3 {
	margin-top: 50px;
	margin-left: 80px;
}
.job4 {
	margin-left: 35px;
}


h2.jobtext {
	color: yellow;
	margin-top: 0px;
}
h3.jobtext {
	color: black;
}
.jobtext {
	margin: 0px;
	padding: 0px;
}

.jobinfo {
	margin-left: 25px;
	list-style-type: none;
}



.resp {
	margin-left: 65px;
}

#backtotop {
	color: white;
	font-size: 35px;
	text-align: center;
	background-color: rgba(250,250,250,.7);
}
.backtotop2 {
	color: white;
	font-size: 35px;
	text-align: center;
	margin-top: 35px;
}

.jobtext2 {
	margin-top: 5px;
}


.skillsul {
	list-style-type: none;
}
.skillsheadli {
	text-align: center;
	margin-top: 25px;
	margin-right: 185px;
}
.skillsli {
	text-align: center;
	margin-left: 200px;
	margin-right: 400px;
	background-color: rgba(250, 250, 250, .7);
	border-radius: 15px;
}
.bands {
	border-radius: 100%;
	height: 150px;
	width: 150px;
	text-align: center;
	border: 2px solid white;
}


.bandsli{
	list-style-type: none;
	display: inline-block;
	margin-left: 12%;
	padding: 0px;

}

#improvhead {
	text-align: center;
}
.bandsli2{
	list-style-type: none;
	display: inline-block;
	margin-left: 10%;
	padding: 0px;
	margin-bottom: 130px;
	margin-top: 10px;
}
.bandsli3{
	list-style-type: none;
	margin-left: 24%;
	padding: 0px;
}

#interests2 {
	background-color: rgba(0,0,0,.6);
	color: white;
}

.bioback {
	background-color: rgba(250,250,250,.7);
}


/* ---------------Slider --------------------*/
#container {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;  
}

.carousel {
	height: 250px;
	width: 350px;
	font-size: 15px;
	border: 5px solid black;
	text-align: center;
	margin-left: 32%;
	background-color: #ffd7a5;

}

.blog-div {
	display: none;
}






/* ----------------------Why You Need a Website Section -----------*/ 
.personal {
	text-align: center;

}

.bullets {
	margin-left: 10%;
}



.readable {
	background-color: rgba(0,0,0,.8);
	display: none;
}

.ployers2 {
	display: none;
}
.ployers3 {
	display: none;
}
.ployers4 {
	display: none;
}
.ployers5 {
	display: none;
}
.ployers6 {
	display: none;
}


