* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	font-family: Open Sans;
	text-align: center;
	vertical-align: middle;
    list-style-type: none;
}

body {
	margin: 0;
}

.splash {
	background: url(..//img/brick.jpg);
	height: 100vh;
}

.header {
	margin:0;
	padding-top: 10vh;
}

.canvas {
	height: 75vh;
	width: 20vw;
	background-color: gray;
	border: 1px solid black;
	margin-top: 9vh;
	position: absolute;
	z-index: 5;
}

.right {
	left: 29vw;
}

.left {
	left: 49vw;
}

.elevator-background {
	background-color: black;
	height: 74vh;
	width: 40vw;
	z-index: 5;
	position: absolute;
	top: 26vh;
	left: 29vw;
}



.floor-div {
	height: 12vh;
	width: 5vw;
	position: absolute;
	left: 20vw;
	top: 45vh;
	padding-top: 20px;
}

.floor-num {
	height: 10vh;
	background-color: black;
	color: red;
	padding-top: 20px;
}

.button-div {
	position: absolute;
	right: 20vw;
	top: 60vh;
}
.button {
	height: 50px;
	width: 50px;
	cursor: pointer;
}


