@media only screen and (min-device-width: 315px) and (max-device-width: 514px) {
	.port-info-shade {
		width: 78vw;
		height: auto;
	}
	.port-img {
		width: 78vw;
		height: auto;
	}

	.edu-img {
		height: 75px;
		width: auto;
	}
}

@media only screen and (min-device-width: 515px) and (max-device-width: 750px) {
	h3 {
		font-size: 15px;
	}

	.head-shot {
		height: 120px;
		width: auto;
	}

	.nav-img {
		height: 50px;
		width: auto;
	}

	.intro-sub {
		height: auto;
	}

	.name {
		font-size: 20px;
		margin-bottom: 5px;
	}

	.more-info {
		font-size: 18px;
	}

	.port-info-shade {
		width: 40vw;
		height: auto;
	}

	.port-img {
		width: 40vw;
		height: auto;
	}

	.edu-img {
		height: 75px;
		width: auto;
	}

}

@media only screen and (min-device-width: 560px) and (max-device-width: 570px) {
	.more-info {
		font-size: 15px;
	}

	.more-info-div {
		padding-top: 7px;
	}

}

@media only screen and (min-width: 750px) and (max-width: 850px) {


}