* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Open Sans;
  text-align: center;
  vertical-align: middle;
  list-style-type: none; }

body {
  margin: 0; }

h1,
h2,
h3,
h4 {
  margin: 0; }
