* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Open Sans;
  text-align: center;
  vertical-align: middle;
  list-style-type: none; }

body {
  margin: 0; }

h1,
h2,
h3,
h4 {
  margin: 0; }

.splash {
  background: url(..//img/brick.jpg);
  height: 100vh; }

.header {
  margin: 0;
  padding-top: 10vh; }

.canvas {
  height: 75vh;
  width: 40vw;
  background-color: gray;
  border: 1px solid black;
  margin-top: 9vh;
  position: absolute;
  z-index: 5;
  left: 29vw; }

.elevator-background {
  background-color: black;
  height: 74vh;
  width: 40vw;
  z-index: 5;
  position: absolute;
  margin-top: 9vh;
  left: 29vw; }

.welcome {
  color: gold;
  padding-top: 35vh; }

.black {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: none; }

.floor-div {
  height: 15vh;
  width: 8vw;
  position: absolute;
  left: 20vw;
  top: 53vh; }

.floor-num {
  background-color: black;
  color: red;
  height: 10vh;
  padding-top: 15px; }

.floor-grid {
  background-color: white; }

.button-div {
  position: absolute;
  right: 20vw;
  top: 60vh; }

.button {
  height: 30px;
  width: 30px;
  cursor: pointer; }

.inside-header {
  color: white; }

.inline {
  display: inline-block;
  cursor: pointer; }

.floor-choice {
  margin: 3vw; }

.grid-ul {
  width: 50vw;
  margin-left: 25vw;
  padding: 0; }

.floor-button {
  height: 50px;
  width: 50px;
  background-color: white;
  padding-top: 10px;
  margin-left: 50vw;
  margin-top: 5vh; }

.floor-name {
  color: gold; }

.current-floor {
  color: white; }

.sections {
  height: 100vh;
  width: 100vw;
  background-color: blue;
  display: none; }

.section-img {
  height: 88vh;
  margin-top: 5vh;
  width: auto; }

.sub-img-span {
  position: fixed;
  top: 10vh;
  height: 82vh;
  width: 100vw;
  background: url(..//img/desk.png) no-repeat center center; }

.subImg {
  height: 15vh;
  width: 10vw;
  opacity: 0.7;
  cursor: pointer; }

.projects-ul {
  width: 35vw;
  padding: 0;
  margin-top: 10vh;
  padding: 1vw; }

.go-back {
  position: absolute;
  color: white;
  bottom: 3vh;
  left: 2vw;
  cursor: pointer; }
