<div>
	<div ng-repeat='proj in $ctrl.works'>
		<h2 class="port-header">{{proj.title}}</h2>
		<div class="port-info-div">
			<div class="port-info-shade" ng-repeat="ex in proj.examples">
				<ul class="port-ul">
					<a class="port-url" href="#!/works/{{ex.id}}">
						<li class="port-li">
							<img class="port-img" src="{{ex.img[0].first}}">
							<h3 class="port-subheader">{{ex.name}}</h3>
							<h4 class="port-skills">{{ex.skills}}</h4>
						</li>
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="scroll-up hide" data-bind="click: toggle.scrollUp">
		<h4>Back to the Top</h4>
	</div>
</div>